#graph {
	height: 50%;
	width: 100%;
}

#map {
	height: 50%!important;
}

#stats {
	position: absolute;
	height: 200px;
        width: 200px;
        z-index: 99;
        right: 0;
        background-color: white;
	opacity: 70%;
	font-size: 30pt;
	padding: 10px;
}
